@font-face {
  font-family: "TitilliumWeb-Black";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Black.woff") format("woff"), url("../fonts/TitilliumWeb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Bold";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Bold.woff") format("woff"), url("../fonts/TitilliumWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-BoldItalic";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-BoldItalic.woff") format("woff"), url("../fonts/TitilliumWeb-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Regular.woff") format("woff"), url("../fonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Regular.woff") format("woff"), url("../fonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: TitilliumWeb, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.header {
  height: 100vh;
  background-color: #000F08;
  color: #E0CA3C;
  display: grid;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.navigation {
  padding: 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logotype a {
  font-family: TitilliumWeb-Bold, Helvetica, sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  color: #E0CA3C;
  font-size: 1.7rem;
  padding: 10px;
  -webkit-transition: all 0.9s linear;
  -o-transition: all 0.9s linear;
  transition: all 0.9s linear;
}

.logotype a:hover {
  background-color: #E0CA3C;
  color: #000F08;
}

.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.top-nav ul li {
  margin-right: 14px;
}

.top-nav ul li a {
  text-decoration: none;
  color: #E0CA3C;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.top-nav ul li a:hover {
  border-bottom: 5px solid #E0CA3C;
}

.telephone {
  padding-left: 10px;
}

.telephone a {
  display: inline;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: TitilliumWeb-Bold;
  color: #E0CA3C;
  letter-spacing: 1px;
  padding: 5px 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.telephone a img {
  width: 12px;
  height: 12px;
  padding-right: 7px;
  color: #000F08;
}

.telephone a:hover {
  border: 4px solid #E0CA3C;
}